<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="js/vue.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="styles/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/mis.css">

    <title>¡Salvo!</title>

</head>

<body>
    <div class="container-fluid" id="app">

        <div class="row justify-content-around">
            <div class="col text-center">
                <h2>Datos de la Partida</h2>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <!--                            <th>ID</th>-->
                            <th>Game</th>
                            <th>Player 1</th>
                            <th>Player 2</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{gameInfo.created}}</td>
                            <td>{{gameInfo.viewer}} <b>(YOU)Vs.</b></td>
                            <td>{{gameInfo.notViewer}}</td>
                            <!--                            <td>{{item.id}}</td>-->
                            <!--<td>{{item.created}}</td>
                            <td>{{item.gamePlayers[0]!=null ? item.gamePlayers[0].player.userName : 'esperando Jugador 1!'}} (You) Vs.</td>
                            <td>{{item.gamePlayers[1]!=null ? item.gamePlayers[1].player.userName : 'esperando Jugador 2!'}}</td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col text-center">
                <h2>Mis Barcos</h2>
                <table class="table table-bordered" border="1">
                    <thead class="thead-light">
                        <tr>

                            <th></th>
                            <th v-for="item in row">{{ item }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in col">
                            <td>{{ item }}</td>
                            <td :id="item+11"></td>
                            <td :id="item+21"></td>
                            <td :id="item+31"></td>
                            <td :id="item+41"></td>
                            <td :id="item+51"></td>
                            <td :id="item+61"></td>
                            <td :id="item+71"></td>
                            <td :id="item+81"></td>
                            <td :id="item+91"></td>
                            <td :id="item+101"></td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col text-center">
                <h2>Mis Disparos</h2>
                <table class="table table-bordered" border="1">
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                            <th v-for="item in row">{{ item }}</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr v-for="item in col">
                            <td>{{ item }}</td>
                            <td :id="item+12" @click="getID(id)">
                            </td>
                            <td :id="item+22" @click="getID(id)"></td>
                            <td :id="item+32" @click="getID(id)"></td>
                            <td :id="item+42" @click="getID(id)"></td>
                            <td :id="item+52" @click="getID(id)"></td>
                            <td :id="item+62" @click="getID(id)"></td>
                            <td :id="item+72" @click="getID(id)"></td>
                            <td :id="item+82" @click="getID(id)"></td>
                            <td :id="item+92" @click="getID(id)"></td>
                            <td :id="item+102" @click="getID(id)"></td>

                        </tr>
                    </tbody>
                </table>


            </div>

        </div>


    </div>



    <script src="js/game.js"> </script> <!-- Optional JavaScript -->
    <script src="js/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="js/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
